.magreza-grave{
    color:#cf2513;
}

.magreza-moderada{
    color:#ef884e;
}

.magreza-leve{
    color:#536294;
}

.saudavel{
    color:#1cb863;
}

.sobrepeso{
    color:#676776;
}

.obesidade-grau-1{
    color:#ef8a41;
}

.obesidade-grau-2{
    color:#c3091a;
}

.obesidade-grau-3{
    color:#c41b30;
}